/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* CY Styling starts here*/
html{
    font-size:62.5%;
    height:100vh;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
}
body{
    color:black;

}

h1{
    font-size: 5rem;
    
}

h2{
    font-size: 4rem;
}

h3{
    font-size:3.3rem;    
}

header{
    height: 90vh;
}

.header-nav{
    display:flex;
    justify-content: flex-end;
    position:fixed;
    top:0;
    width: 100%;
    margin-bottom: 2rem;
    background: white;
    opacity: 80%;
}

a{
    text-decoration: none;
    font-size: 2rem;
    color: #4444;
}

.navLinks{
    padding: 2rem 3rem;

}

.header-text{
    margin-top: -65rem;
    padding:20rem;
    text-align: center;
    line-height: 1.3;

}

.cow{
    height: 90vh;
    margin-top: 5.8rem;
}

.farm-products{
    margin-top:10rem;
    text-align: center;
}

.fresh-goods{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin: 3rem 0;
}
.goods-box{
    border: 2px solid black;
    width:13rem;
    padding:3rem;
}

.dirt-image{}

.dirt{
    height:30vh;
}

.our-story{
    border: 2px solid black;
    width: 55vw;
    line-height: 1.5;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    padding:2rem;
}

p{
    font-size:2rem;
}

.blog-posts{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.img-link{}

.blog-pic{
    height: 40vh;
}

#contact.info{}

footer{
    color: #fcb131;
}

.footer-nav{}

.footer-navLinks{}